spring:
  application:
    name: delivery-api

  datasource:
    url: ${DB_URL:jdbc:postgresql://localhost:5432/delivery_db}
    username: ${DB_USERNAME:postgres}
    password: ${DB_PASSWORD:postgres}

  jpa:
    open-in-view: false
    show-sql: false
    properties:
      hibernate:
        ddl-auto: validate
        format_sql: false

logging:
  level:
    root: INFO
    com.cocobambu.delivery: INFO